body{
    background-image: url("lightning.jpg");
    background-color:#cccccc ;
}

 .container-sm{
    Font-Family: 'Monda', Sans-Serif;
    Font-Size: 25px;  
    background-color: #4b3a40;
    color: #f2e6ff;
    margin: 10px auto;
    padding: 50px;
    width: 50%;
    font-family: 'Pontano Sans', sans-serif;

}
    .left{
        float:left;
        width: 50%;
        margin: auto;
    }

    h1{
        color: #8a8498;
        font-weight: bold;
        Font-Family: 'Julius Sans One', Sans-Serif;
        Font-Size: 45px;

    }
    h2{
        color: #988689;
        font-style: oblique;
    }
    h3{
        color: #988689;
         
    }
    h4{
        color: #988689;
        Font-Family: 'Julius Sans One', Sans-Serif;
        Font-Size: 45px;  
    }
   
    .right{
        float:right;
        width: 50%;
        margin: auto;
        
        
        
       
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        border-radius: 8px;
        height:auto;

      
    }
    .button{
        border: solid;
        border-width: thin;
        border-radius: 10px 5px 10px 5px;
        text-decoration: none;
        color: #a98077;
        width: 20px;
        height: 10px;
        padding: 5px;
    }    
    .clearFix{
        clear:both;
    }
.footer{
    background-color: black;
    color: lightslategray;
    text-align: center;
    width: 100%;
    padding: 20px;
    font-family: 'Pontano Sans', sans-serif;
    margin: auto;
    height: 100px;

}
body a {
    color: lightsteelblue;
}
 body .jumbotron{ 
    background-color: #4b3a40;
    text-align: center;
    border: thin;
    margin: auto;
    padding: 5px 0px 10px 0px;

}
.row{
    padding: 20px;
}
